
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bulma/bulma.sass";

html{
  background: $body-bg;
  color:#fff;
}

body {
  color: #fff;
}

h1.titrelogo{
  font-family:Inconsolata, sans-serif;
  color:#e2625b !important;
  font-size: 1.92em;
  letter-spacing: 0.15rem;
  font-weight: bold;

}

.logo-text-group{
  display:flex;justify-content:center;align-items:center;
}

.control.frontpage{
  width: 60%;
  margin-left: 20%;
}

.control.frontpage > input {

    padding: 10px 18px 10px 18px;

  background-color: transparent;
  border: 1px solid #9a9a9a;
  border-radius: 30px;
  color: #000;
  line-height: 1em;
  font-size: 0.8571em;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;

}
.section.filmsfront {
  padding: 0px;
}
.column.affiche {
  padding: 0px;
  display:flex;justify-content:center;align-items:center;
}

.filmsfront{
  background: #f5f7f6;
  color: #332538;
}

.filmsfront, h2.title {
  color: #e2625b;
}
.affiche {
  position: relative;
}
.logosmall {
  max-height: 5rem;
}
img.logosmall{
  max-width: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.logo{
  display: flex;
  justify-content:center;align-items:center;
  z-index: 5;
}
.logo-text-group {
  margin-left: 1rem;
}

form.headerlogo{
  width:80%;
}

input.headerlogo{
  background: transparent;
  border:1px solid #e2625b;
}
button.favhover {
  position: absolute;
  bottom: 1rem;
  right: 0.25rem;
  box-shadow: 0 1px 2px 0px #332538, 0 3px 1px 0px #4c3754;
  color: #f5554c;
  background: rgba(255, 255, 255, 0.25);
  font-size: 2rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width:50px;
  height:50px;
  line-height:50px;   text-align:center;
  border: none;
}

.autocomplete-suggestions {    color: black; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }


.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 88; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.overlay3 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left:0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity:0;
  transition: opacity 1s;
}

